blinker==1.4
click==6.7
Flask==1.0.2
Flask-Mail==0.9.1
Flask-Mail-SendGrid==0.1.7
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
python-http-client==3.1.0
sendgrid==5.6.0
Werkzeug==0.14.1
