<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="img/portfolio/01-full.jpg" alt="">
                  <p> General description</p>
                  <p> Live demo/github links</p>
                  <p> tags of tech used</p>
                  <p> 'What I did do'</p>
                  <p> detailed tech stack</p>
                  <p> 'Challenges'</p>
                  <p> 'Result'</p>
                  <p> 'what i would do differently'</p>

                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>