{% extends 'base.html' %}{% block content %}
<section class="bg-light" id="home">
    
</section>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading text-uppercase">About me</h3>
                <h3 class="section-subheading text-muted"> Im a software developer. Below are some example projects of mine, you can find details about the project, links to live demo's as well as links to their github repositories. <br><br> I have experience as a Test Manager, starting a team from scratch   <br><br>Experience: Python, Django, Flask, HTML, CSS, JS, Ajax, RESTFUL Api's, Automated Testing, Performance Testing,  <br><br>
                    People management, Data Analysis, Data Visualisation,   <br><br> For CV requests or to get in contact then please see the contact section below </h3>
            </div>
        </div>
        <div class="col-lg-12 text-center">
            <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
    </div>
</section>
<section class="bg-dark" id="portfolio">
{% include 'projects.html' %}
</section>
   
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading text-uppercase">Contact Me</h3>
            </div>
        </div>
        <div class="col-lg-12 text-center">
            <p>Email, comment form</p>
        </div>
    </div>
</section>
{% include 'includes/modal1.html' %}
{% include 'includes/modal2.html' %}
<footer class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright © John Lock 2018</span>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}